@import 'tailwindcss';

@font-face {
  font-family: 'Playpen Sans';
  src:
    url('../fonts/PlaypenSans-VariableFont.woff2') format('woff2-variations'),
    url('../fonts/PlaypenSans-VariableFont.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Variable';
  src:
    url('../fonts/Inter-VariableFont.woff2') format('woff2-variations'),
    url('../fonts/Inter-VariableFont.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-heading: 'Playpen Sans', sans-serif;
  --font-body: 'Inter Variable', sans-serif;

  --text-fluid-title: clamp(2.25rem, 5vw + 1.25rem, 5rem);
  --text-fluid-subtitle: clamp(1.35rem, 1.25vw + 1rem, 3rem);
  --text-fluid-text: clamp(1rem, 1vw + 0.75rem, 2rem);

  --breakpoint-xs: 25rem; /* 400px */

  --zync-neutral: #090d16;
  --ice-grey: #f8fafc;

  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-bg: var(--accent-bg);

  --color-app: var(--bg-app);

  --text-shadow-glow: 0 0 4px var(--color-accent);
}

:root {
  --bg-app: var(--ice-grey);
  --bg-body: var(--zync-neutral);

  --text-main: #0f172a;
  --text-secondary: var(--color-slate-700);

  --accent: #059669;
  --accent-hover: #047857;
  --accent-bg: rgba(5, 150, 105, 0.1);
}

.dark {
  --bg-app: var(--zync-neutral);
  --bg-body: var(--ice-grey);

  --text-main: #f8fafc;
  --text-secondary: var(--color-slate-300);

  --accent: #10b981;
  --accent-hover: #34d399;
  --accent-bg: rgba(16, 185, 129, 0.15);
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
}

@layer base {
  body {
    @apply font-body transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@layer components {
  .sr-only {
    clip-path: inset(50%);
    @apply absolute w-1 h-1 p-0 -m-[1px] overflow-hidden whitespace-nowrap border-0;
  }

  .click {
    @apply relative flex items-center justify-center p-3.5 rounded-full border border-slate-200 dark:border-slate-800 bg-white/80 dark:bg-slate-900/80 text-slate-700 dark:text-slate-300 hover:text-accent backdrop-blur-lg hover:border-accent/50 shadow-lg transition-colors ease-in-out cursor-pointer;
  }

  .title {
    @apply font-black leading-[1.2] text-fluid-title;
  }
  .text {
    @apply font-light text-fluid-text leading-[1.8] max-w-[55ch] text-(--text-secondary) mt-8;
  }
}

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
